In [3]:
import numpy as np
import pandas as pd
import matplotlib as plt
import os

In [12]:
current_directory = os.getcwd()
print("Current Directory:", current_directory)

files = os.listdir(current_directory)
for file in files:
    print(file)

Current Directory: c:\Users\Medha Trust\Desktop\Hotel management
data_cleaning.ipynb
dim_date.csv
dim_hotels.csv
dim_rooms.csv
fact_aggregated_bookings.csv
fact_bookings.csv
meta_data_hospitality.txt
metrics list.xlsx
mock up dashboard_atliq grands.png

In [15]:
def load_data(file_path):
    """
    Load a CSV file into a pandas DataFrame.

    Parameters:
    - file_path (str): The path to the CSV file.

    Returns:
    - pd.DataFrame: The loaded DataFrame.
    """
    try:
        df = pd.read_csv(file_path)
        print(f"File '{file_path}' loaded successfully.")
        return df
    except Exception as e:
        print(f"Error loading file '{file_path}': {e}")
        return None

dim_date_df = load_data('dim_date.csv')
dim_hotels_df = load_data('dim_hotels.csv')
dim_rooms_df = load_data('dim_rooms.csv')
fact_bookings_df = load_data('fact_bookings.csv')
fact_aggregated_bookings_df = load_data('fact_aggregated_bookings.csv')

File 'dim_date.csv' loaded successfully.
File 'dim_hotels.csv' loaded successfully.
File 'dim_rooms.csv' loaded successfully.
File 'fact_bookings.csv' loaded successfully.
File 'fact_aggregated_bookings.csv' loaded successfully.

In [16]:
dim_date_df.head()

        date  mmm yy week no  day_type
0  01-May-22  May 22    W 19   weekend
1  02-May-22  May 22    W 19  weekeday
2  03-May-22  May 22    W 19  weekeday
3  04-May-22  May 22    W 19  weekeday
4  05-May-22  May 22    W 19  weekeday

In [17]:
def check_nulls(data_frame, file_name):
    """
    Check and print the number of null values in each column of a DataFrame.

    Parameters:
    - data_frame (pd.DataFrame): The DataFrame to check for null values.
    - file_name (str): The name of the file or DataFrame (for display purposes).

    Returns:
    - None
    """
    print(f"\nChecking null values for {file_name}:")
    null_counts = data_frame.isnull().sum()
    
    if null_counts.sum() == 0:
        print("No null values found.")
    else:
        print("Columns with null values:")
        print(null_counts[null_counts > 0])

check_nulls(dim_date_df, 'dim_date.csv')
check_nulls(dim_hotels_df, 'dim_hotels.csv')
check_nulls(dim_rooms_df, 'dim_rooms.csv')
check_nulls(fact_bookings_df, 'fact_bookings.csv')
check_nulls(fact_aggregated_bookings_df, 'fact_aggregated_bookings.csv')

Checking null values for dim_date.csv:
No null values found.

Checking null values for dim_hotels.csv:
No null values found.

Checking null values for dim_rooms.csv:
No null values found.

Checking null values for fact_bookings.csv:
Columns with null values:
ratings_given    77907
dtype: int64

Checking null values for fact_aggregated_bookings.csv:
No null values found.

- We have null values in fact_bookings data only, lets analyze them closely

In [18]:
fact_bookings_df.isnull().sum()

booking_id               0
property_id              0
booking_date             0
check_in_date            0
checkout_date            0
no_guests                0
room_category            0
booking_platform         0
ratings_given        77907
booking_status           0
revenue_generated        0
revenue_realized         0
dtype: int64

In [20]:
fact_bookings_df.ratings_given.value_counts()

5.0    19480
3.0    17561
4.0     9653
2.0     6452
1.0     3537
Name: ratings_given, dtype: int64

In [25]:
fact_bookings_df['ratings_given'] = fact_bookings_df['ratings_given'].fillna(int(fact_bookings_df.ratings_given.mean()))

In [26]:
fact_bookings_df.isnull().sum()

booking_id           0
property_id          0
booking_date         0
check_in_date        0
checkout_date        0
no_guests            0
room_category        0
booking_platform     0
ratings_given        0
booking_status       0
revenue_generated    0
revenue_realized     0
dtype: int64

In [27]:
fact_bookings_df.to_csv('fact_bookings_cleaned.csv',index=False)